body {
    background-color: #f1fcfe;
}

.navbar {
    background-color: #aaeff8;
}

.article {
    background-color: #aaeff8;
    margin-bottom: 1.5em;
}

.carousel {
    width: 65%;
    height: auto;
    margin: 1.5em auto;
}

.btn-wrapper {
    position: relative;
}

.save-btn,
.comment-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#comment-input {
    width: 100%;
}

.comments {
    display: inline-block;
}